.load-more-button {
  display: block;
  margin: 5px auto;
  text-transform: uppercase;
  border: 1px solid #929292;
  border-radius: 14px;
  padding: 8px 26px;
  letter-spacing: -0.03em;
  background-color: transparent;
  width: 111px;
  height: 28px;
  font-size: 9px;
  color: #929292;
  cursor: pointer;
}
